:root{
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}
.blog{

}
.card{
    /* border: 2px solid var(--new-accent-dark); */
    padding: 0.5rem;
    height: fit-content;
    
}
.img{
    width: 100%;
    overflow: hidden;
    height: min-content;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row{
    display: flex;
    justify-content: space-around;
}
.right{
    align-self: flex-end;
}
.left{
    align-self: flex-start;
}
.gap-00{
    gap: 0;
}
.gap-0{
    gap: 0.5rem;
}
.gap-1{
    gap: 1rem;
}
.gap-1-0{
    gap: 1.5rem;
}
.gap-2{
    gap: 2rem;
}
.p-00{
    padding: 0;
}
.p-0{
    padding: 0.5rem;
}
.p-1{
    padding: 1rem;
}
.p-1-0{
    padding: 1.5rem
}

/* masonry vibes */
.item3{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}
.item4{
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}
.item5{
    grid-column: 1 /span 2;
    grid-row: 3 / span 2;
}
.half-width{
    width: 50%;
}
.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.half-height{
    height: 50%;
}
.h-card{
    display: flex;
}
.blog-btn{
    padding: 0.5rem;
    background-color: var(--new-accent-dark);
    color: var(--white);
    font-family: inherit;
}