.wrapper{
    margin-top: 10em;
    margin-bottom: 10em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6vw;
}

.tile{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    padding: 1em;
    box-shadow: 0 4px 6px rgba(0.2, 0, 0, 0.2);

}

.tile:hover{
    transform: scale(1.03);
    box-shadow: 2px 8px 20px rgba(137, 3, 3, 0.775);
}

span{
    color: var(--dark-accent);
    font-size: 3.5vw;
    margin-bottom: 1rem;
    display: block;
    font-weight: 500;
    width: max-content;
}

p{
    font-size: 1.5vw;
}