.wrapper{
    margin-top: 10em;
    margin-bottom: 10em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6.5rem;
}

.tile{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    padding: 1em;
    box-shadow: 0 4px 6px rgba(0.2, 0, 0, 0.2);

}

span{
    color: var(--dark-accent);
    font-size: 60px;
    margin-bottom: 18px;
    display: block;
    font-weight: 500;
    max-width: fit-content;
}

p{
    font-size: 1.5em;
}