.section{
    background-color: white;
}
.section-title{
    margin-bottom: 4rem;
    color: var(--gray);
}

.blog-contents{
    display: grid;
    grid-template-columns: repeat(auto-fill, 40%);
    gap: 2rem;
    margin: 0 auto;
    padding-bottom: 6rem;
}