<section id="blog" class="section">
    <div class="container">
        <div class="section-title">
            Blog
        </div>
        <div class="blog-contents">
            @for (item of blogs(); track $index) {
                <app-card [blogPost]="item"></app-card>
            }
        </div>
        <div class="title-card-wrapper box p-0">
            <h3 class="blog-title-new">Possibly long blog title, should wrap when pretty long</h3>
            <div class="blog-meta-data">
                3 months ago | 5 min read
            </div>
            <div class="light-btn btn right">Read more</div>
        </div>
        <div class="img-title-wrapper horizontal box p-0">
            <img src="kmp.png" alt="kotlin multi platform">
            <div class="title-card-wrapper">
                <h3 class="blog-title-new">Possibly long blog title, should wrap when pretty long</h3>
                <div class="blog-meta-data">
                    3 months ago | 5 min read
                </div>
                <div class="light-btn btn right">Read more</div>
            </div>
        </div>
        <div class="img-title-wrapper vertical box p-0">
            <img src="kmp.png" alt="kotlin multi platform">
            <div class="title-card-wrapper">
                <h3 class="blog-title-new">Possibly long blog title, should wrap when pretty long</h3>
                <div class="blog-meta-data">
                    3 months ago | 5 min read
                </div>
                <div class="light-btn btn right">Read more</div>
            </div>
        </div>
        <div class="full-form-wrapper horizontal box p-0">
            <div class="img-title-wrapper">
                <img src="kmp.png" alt="kotlin multi platform">
                <div class="title-card-wrapper">
                    <h3 class="blog-title-new">Possibly long blog title, should wrap when pretty long</h3>
                    <div class="blog-meta-data">
                        3 months ago | 5 min read
                    </div>
                    <div class="light-btn btn right">Read more</div>
                </div>
            </div>
            <hr>
            <p class="blog-descr">app.ts                  experiences.json        package.json            tsconfig.json
                blogs.json              jest.config.ts          projects.json           types.ts
                dynamoDBClient.ts       node_modules            sample.json
                education.json          package-lock.json       tests</p>
        </div>
    </div>
</section>