<app-card class="about">
    <app-title-icon [title]="'About me'" [icon]="'fas fa-pencil-square'"></app-title-icon>
    <div class="img">
        <img src="AVATAR.jpeg" alt="profile photo"/>
    </div>
    <div class="welcome-msg">
        Hi I’m Sinomtha, a full-stack developer with a passion for building
         user-centered, cloud-powered web applications. With hands-on experience
          across design, frontend, backend, and cloud deployment, I take pride in
           turning ideas into scalable, well-crafted digital products.
    </div>
</app-card>