<div class="experience">
    <h2 class="role"><strong>{{header.role}}</strong>, {{header.location}}</h2>
    <h5>{{ duration.start }} - {{ duration.end }} ({{ header.mode }})</h5>
    <div class="card-wrapper">
        <div class="tabs">
            <app-tabs [category]="tabTitles[0]" class="selected"></app-tabs>
            @for (tab of tabTitles.slice(1); track $index) {
                <app-tabs [category]="tab" class="default"></app-tabs>
            }
        </div>
        <div class="pills-wrapper">
            @for (pill of selectedTabOutcomes; track $index) {
                <app-pills [text]="pill"></app-pills>
            }
        </div>
    </div>
</div>