.container{
    color: var(--dark-accent);
    background-color: var(--light-accent);
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding-top: 25vh;
}

.name-splash{
    font-size: 15vw;
    text-align: center;
    font-weight: 400;
}

.tagline{
    margin: 0;
    text-align: right;
    font-size: 2em;
    margin-right: 5vw;

}



/* winging the animation */
.cd-words-wrapper {
    display: inline;
}
.cd-headline {
    font-size: 3rem;
    line-height: 1.2;
  }
  @media only screen and (min-width: 768px) {
    .cd-headline {
      font-size: 4.4rem;
      font-weight: 300;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-headline {
      font-size: 6rem;
    }
  }
  
  .cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
  }
  .cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
  }
  .cd-words-wrapper b.is-visible {
    position: relative;
  }
  .no-js .cd-words-wrapper b {
    opacity: 0;
  }
  .no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
  }
  /* -------------------------------- 

xtype 

-------------------------------- */
.cd-headline.type .cd-words-wrapper {
vertical-align: top;
overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
/* vertical bar */
content: '';
position: absolute;
right: 0;
top: 50%;
bottom: auto;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
height: 90%;
width: 1px;
background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
-webkit-animation: cd-pulse 1s infinite;
-moz-animation: cd-pulse 1s infinite;
animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.selected::after {
visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
color: #0d0d0d;
}
.cd-headline.type b {
visibility: hidden;
}
.cd-headline.type b.is-visible {
visibility: visible;
}
.cd-headline.type i {
position: absolute;
visibility: hidden;
}
.cd-headline.type i.in {
position: relative;
visibility: visible;
}
.cd-headline.rotate-2 .cd-words-wrapper {
-webkit-perspective: 300px;
-moz-perspective: 300px;
perspective: 300px;
}
.cd-headline.rotate-2 i, .cd-headline.rotate-2 em {
display: inline-block;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
.cd-headline.rotate-2 b {
opacity: 0;
}
.cd-headline.rotate-2 i {
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-transform: translateZ(-20px) rotateX(90deg);
-moz-transform: translateZ(-20px) rotateX(90deg);
-ms-transform: translateZ(-20px) rotateX(90deg);
-o-transform: translateZ(-20px) rotateX(90deg);
transform: translateZ(-20px) rotateX(90deg);
opacity: 0;
}
.is-visible .cd-headline.rotate-2 i {
opacity: 1;
}
.cd-headline.rotate-2 i.in {
-webkit-animation: cd-rotate-2-in 0.4s forwards;
-moz-animation: cd-rotate-2-in 0.4s forwards;
animation: cd-rotate-2-in 0.4s forwards;
}
.cd-headline.rotate-2 i.out {
-webkit-animation: cd-rotate-2-out 0.4s forwards;
-moz-animation: cd-rotate-2-out 0.4s forwards;
animation: cd-rotate-2-out 0.4s forwards;
}
.cd-headline.rotate-2 em {
-webkit-transform: translateZ(20px);
-moz-transform: translateZ(20px);
-ms-transform: translateZ(20px);
-o-transform: translateZ(20px);
transform: translateZ(20px);
}

.no-csstransitions .cd-headline.rotate-2 i {
-webkit-transform: rotateX(0deg);
-moz-transform: rotateX(0deg);
-ms-transform: rotateX(0deg);
-o-transform: rotateX(0deg);
transform: rotateX(0deg);
opacity: 0;
}
.no-csstransitions .cd-headline.rotate-2 i em {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}

.no-csstransitions .cd-headline.rotate-2 .is-visible i {
opacity: 1;
}
.cd-headline.loading-bar span {
display: inline-block;
padding: .2em 0;
}
.cd-headline.loading-bar .cd-words-wrapper {
overflow: hidden;
vertical-align: top;
}
.cd-headline.loading-bar .cd-words-wrapper::after {
/* loading bar */
content: '';
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 0;
background: #0096a7;
z-index: 2;
-webkit-transition: width 0.3s -0.1s;
-moz-transition: width 0.3s -0.1s;
transition: width 0.3s -0.1s;
}
.cd-headline.loading-bar .cd-words-wrapper.is-loading::after {
width: 100%;
-webkit-transition: width 3s;
-moz-transition: width 3s;
transition: width 3s;
}
.cd-headline.loading-bar b {
top: .2em;
opacity: 0;
-webkit-transition: opacity 0.3s;
-moz-transition: opacity 0.3s;
transition: opacity 0.3s;
}
.cd-headline.loading-bar b.is-visible {
opacity: 1;
top: 0;
}