.section{
  margin: 0;
}
.container{
    color: var(--dark-accent);
    background-color: var(--light-accent);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto 0;
    justify-content: center;
}

.name-splash{
    font-size: 15vw;
    text-align: center;
    font-weight: 400;
}

.tagline{
    margin: 0;
    text-align: right;
    font-size: clamp(1rem, 3vw, 2rem);
    margin-right: 5vw;
}

.animation-wrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  height: max-content;
  overflow: hidden;
}

.skill-container {
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

.skill-text {
  border-bottom: 2px solid var(--dark-accent);
  display: inline-block;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  white-space: nowrap;
  font-size: clamp(1rem, 3vw, 2rem);
}

.thrown-left {
  animation: throwLeft 0.3s forwards ease-out;
}

@keyframes throwLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-40px);
    opacity: 0;
  }
}



