<section class="section light-bg">
    <div class="container">
        <div class="name-splash">
            SINOMTHA.
        </div>
        <div class="tagline">
            <p>Full Stack Developer</p>
            <div class="animation-wrapper">
                <div class="m-r-0">Skilled in</div>
                <div class="skill-container">
                    
                    <span #skill class="skill-text"></span>
                </div>
            </div>
        </div>
        <!-- <p class="cd-headline letters scale">Skilled in 
            <a href="#" class="cd-words-wrapper">
                <b class="is-visible">Python</b>
                <b>Java</b>
                <b>Agile-&-Scrum</b>
                <b>UX-Design</b>
                <b>React.js</b>
            </a>
        </p> -->
        
        
    </div>
</section>

  