.container{
    color: var(--dark-accent);
    background-color: var(--light-accent);
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding-top: 25vh;
}

.name-splash{
    font-size: 15vw;
    text-align: center;
    font-weight: 400;
}

.tagline{
    margin: 0;
    text-align: right;
    font-size: 2em;
    margin-right: 5vw;

}