/* 1. card has a border radius of 24px */
/* 2. card items are centred */
.card{
    display: flex;
    flex-direction: column;
    gap: 8rem;
    justify-content: space-between;
    position: relative;
}