a{
    color: inherit;
    text-decoration: none;  
}

.nav-item{
    padding: 0.5em;
    border-bottom: 2px solid transparent;
}

.nav-item:hover{
    border-bottom: 2px solid var(--dark-accent);
    transition: ease-in 20ms;
}