.section{
    background-color: var(--dark-accent);
    min-height: 100vh;
}

.section-title{
    color: whitesmoke;
}

.experience-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(544px, 544px));
    row-gap: 1rem; 
    align-items: stretch;
    justify-content: space-between;
    grid-auto-rows: 0.9fr;
    margin: 4rem 0;
}


