<section class="section">
    <div class="container">
        <div class="section-title">
            Experience
        </div>
        <main class="experience-content">
            @for (item of workExperience; track $index) {
                <app-flip-card [experienceEntry]="item"></app-flip-card>
            }
            @for (item of noWorkExperience; track $index) {
                <app-tab-cards [experienceEntry]="item"></app-tab-cards>
            }
            <app-tab-cards [experienceEntry]="workExperience[0]" ></app-tab-cards>
            @for (item of experiences().slice(5); track $index) {
                <app-flip-card [experienceEntry]="item"></app-flip-card>
            }
        </main>
    </div>
</section>
