.section{
    background-color: var(--dark-accent);
    min-height: 100vh;
}

.section-title{
    color: whitesmoke;
}

.experience-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
    gap: 1rem;    
    align-items: stretch;
    justify-items: stretch;

    grid-auto-rows: 1fr;
}


