.section{
    background-color: var(--dark-accent);
    min-height: 100vh;
}

.section-title{
    color: whitesmoke;
}

.experience{
    color: var(--light-accent);
}

.card-wrapper{
    padding: 0;
    /* border: 2px dotted thistle; */
    width: fit-content;
}

.tabs{
    display: flex;
    width: 100%;
}
.pills-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--white);
    border-top: none;
    border-bottom: none;
    padding: 0.5rem;
    gap: 0.5rem;
}