<section class="section">
    <div class="container">
        <div class="section-title">
            Experience
        </div>
        <main class="experience-content">
            <div class="experience">
                <h4 class="role"><strong>Developer Intern at Safety IO</strong>, Cape Town</h4>
                <h6>Jan 2025 - Present (Hybrid)</h6>
                <div class="card-wrapper">
                    <div class="tabs">
                        <app-tabs [category]="'Engineering'" class="default"></app-tabs>
                        <app-tabs [category]="'UX/UI Design'" class="selected"></app-tabs>
                        <app-tabs [category]="'Agile Processes'" class="default"></app-tabs>
                        <app-tabs [category]="'Cloud Development'" class="default"></app-tabs>
                    </div>
                    <div class="pills-wrapper">
                        <app-pills [text]="'Applied end-to-end UX process using Miro and Figma for research, ideation, wireframes, and interactive prototypes'"></app-pills>
                        <app-pills [text]="'Applied end-to-end UX process using Miro and Figma for research, ideation, wireframes, and interactive prototypes'"></app-pills>
                        <app-pills [text]="'Applied end-to-end UX process using Miro and Figma for research, ideation, wireframes, and interactive prototypes'"></app-pills>
                        <app-pills [text]="'Applied end-to-end UX process using Miro and Figma for research, ideation, wireframes, and interactive prototypes'"></app-pills>
                    </div>
                </div>
            </div>
            <div class="experience">
                <h4 class="role"><strong>Coding Expert at Outlier.ai</strong>, Cape Town</h4>
                <h6>Oct 2024 - Jan 2025 (Remote)</h6>
                <div class="card-wrapper">
                    <div class="tabs">
                        <app-tabs [category]="'Engineering'" class="default"></app-tabs>
                        <app-tabs [category]="'UX/UI Design'" class="selected"></app-tabs>
                        <app-tabs [category]="'Agile Processes'" class="default"></app-tabs>
                        <app-tabs [category]="'Cloud Development'" class="default"></app-tabs>
                    </div>
                    <div class="pills-wrapper">
                        <app-pills [text]="'Applied end-to-end UX process using Miro and Figma for research, ideation, wireframes, and interactive prototypes'"></app-pills>
                        <app-pills [text]="'Applied end-to-end UX process using Miro and Figma for research, ideation, wireframes, and interactive prototypes'"></app-pills>
                        <app-pills [text]="'Applied end-to-end UX process using Miro and Figma for research, ideation, wireframes, and interactive prototypes'"></app-pills>
                        <app-pills [text]="'Applied end-to-end UX process using Miro and Figma for research, ideation, wireframes, and interactive prototypes'"></app-pills>
                    </div>
                </div>
            </div>
            <div class="experience">
                Tutoring
            </div>
        </main>
    </div>
</section>