/* tag-input.component.css */
/* You can keep your Tailwind classes, so CSS can be minimal */
input[type="text"], textarea{
    font-family: 'Poppins', sans-serif;
    width: 100%;          /* Make the field full width */
    padding: 10px;        /* Add some inner spacing */
    border: 0.5px solid #ccc; /* Light gray border */
    border-radius: 5px;   /* Rounded corners */
    font-size: 16px;      /* Increase text size */
    box-sizing: border-box; /* Include padding in width */
    resize: vertical;
    outline: none;
}
input:focus {
    box-shadow: inset 0 0 0 2px rgba(28, 215, 162, 0.838)
  }
#warning {
    display: none;
  }
  

  .rounded-tag{
    padding: 0.3rem;
    border: 1px solid rgba(35, 219, 212, 0.498) ;
    background-color: rgba(251, 251, 251, 0.702) ;
    color: #000;
    border-radius: 0.3rem;
  }
.tags-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.tag{
    display: flex;
    gap: 0.1rem;
    justify-content: flex-start;
}
.tags-input{
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
}
.f-group{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.tags-row{
    display: flex;
    gap: 0.2rem;
}

.tagBtn{
    background-color: transparent;
    border: none;
}