<div class="messages-wrapper">
    <app-loading-screen *ngIf="isLoading()" message="Fetching the latest data...."></app-loading-screen>
    <div class="messages-tab">
        <app-column [title]="'My messages'">
            <div class="col-items-wrapper">
                @for (item of sortedMessages; track $index) {
                    <app-message [message]="item" />
                }
            </div>
            <div class="fixed-width">
                
            </div>
        </app-column>
    </div>
</div>
