.messages-tab{
    /* this is in case you need to manage the column from a higher level */
    border: 2px solid goldenrod;
    border: none;
    border-left: 2px solid #404852;
    padding-left: 1rem;
}

.row{
    display: flex;
    gap: 0;
}
.subject-row{
    gap: 1rem;
}
.msg-tile{
    gap: 1rem;
    width: 34rem;
    height: 8.68rem;
    background: linear-gradient(
    to bottom,
    rgba(249, 249, 249, 1) 0%,   /* light color, fully opaque */
    rgba(235, 235, 235, 0.74) 77% /* dark color, 74% opacity */
    );
    border: 1px solid gainsboro;
    border-radius: 0.75rem;
}

.label{
    font-size: 1rem;
    font-weight: 600;
    color: #404852;
    padding: 0.7rem 0;
}
.sender-label{
    font-size: 1rem;
    font-weight: 400;
    color: #404852;
}

.sender{
    font-size: 1.25rem;
    font-weight: 400;
}
.sender-column{
    padding: 0.5rem;
}

.subject{
    font-size: 1.25rem;
    font-weight: 400;
    text-align: start;
    padding: 0.5rem 0;

}

.body{
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem;
}

.reply-btn{
    height: 2.2rem;
    font-size: 1.1rem;
    padding:0 1rem ;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 1.5rem;
    margin: 0.5rem;
    margin-left: auto;
    background-color: #1F7A3A;
    border: 1px solid #1F7A3A;
    color: whitesmoke;
    box-shadow: inset 2px 4px 8px rgba(31, 122, 58, 0.875) ;

    
}

.col-items-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}