:host{
    display: block;
    width: clamp(20rem,70%, 40rem);
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

:host > * {
    scroll-margin-top: 2rem
}

.form-wrapper{
    border-radius: 2rem;
    overflow: hidden; /* hide overflow outside rounded edges */
    background: var(--confused-mint);
    border: 2px solid #DFF6E6;
    border-radius: 2rem;
    padding: 0.5rem;
    
}
.scroll-inner{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-height: 80vh;
    padding: 3rem;
    box-sizing: border-box; /* Include padding in width */
    
    overflow-y: auto;
    scroll-padding: 0.5rem;
}
/* Firefox */
.form-wrapper {
    scrollbar-width: thin;        /* makes scrollbar thinner */
    scrollbar-color: rgba(0,0,0,0.3) transparent; /* thumb color / track */
}
.title{
    font-size: 2rem;
    font-weight: 600;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-btn{
    padding: 1rem;
    background-color: whitesmoke;
    color: var(--accent);
    border: 2px solid whitesmoke;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
    outline: none;
}

.form-btn:hover, .form-btn:focus{
    outline: none;
    border: 2px solid var(--accent);
    background-color: var(--accent);
    color: whitesmoke;
}