<nav class="nav-bar">
    <div class="logo">Sinomtha.</div>
    <li class="nav-links">
        <app-item [sectionID]="'home'"></app-item>
        <app-item [sectionID]="'about'"></app-item>
        <app-item [sectionID]="'experience'"></app-item>
        <app-item [sectionID]="'education'"></app-item>
        <app-item [sectionID]="'projects'"></app-item>
        <app-item [sectionID]="'blog'"></app-item>
        <app-item [sectionID]="'contact'"></app-item>
    </li>
    <button class="btn dark-btn" (click)="downloadCV()">Download CV</button>
</nav>

