<nav class="nav-bar">
    <div class="logo">Sinomtha.</div>
  
    <button
      class="hamburger"
      aria-label="Toggle menu"
      [attr.aria-expanded]="isMenuOpen"
      (click)="toggleMenu()"
    >
      &#9776;
    </button>
  
    <ul class="nav-links" [class.show]="isMenuOpen">
      <app-item [sectionID]="'home'" (itemClicked)="onItemClicked()"></app-item>
      <app-item [sectionID]="'about'" (itemClicked)="onItemClicked()"></app-item>
      <app-item [sectionID]="'experience'" (itemClicked)="onItemClicked()"></app-item>
      <app-item [sectionID]="'education'" (itemClicked)="onItemClicked()"></app-item>
      <app-item [sectionID]="'projects'" (itemClicked)="onItemClicked()"></app-item>
      <app-item [sectionID]="'blog'" (itemClicked)="onItemClicked()"></app-item>
      <app-item [sectionID]="'contact'" (itemClicked)="onItemClicked()"></app-item>
    </ul>
  
    <button class="btn dark-btn" (click)="downloadCV()"><i class="fas fa-download"></i>Download CV</button>
  </nav>
  