<app-card class="task">
    <app-title-icon [title]="taskData.title" [icon]="'fas fa-plus-circle'" (iconClick)="openModal($event)"></app-title-icon>
    <app-number-tag-line [number]="taskData.numberTagLine.number" [tagline]="taskData.numberTagLine.tagline" ></app-number-tag-line>
    <i [class]="taskData.icon"></i>
    <app-modal 
      [visible]="showModal()" 
      [title]="''" 
      (close)="closeModal()">
      <app-poly-form [variant]="taskData.formVariant!" />
    </app-modal>
</app-card>

