:host{
    width: fit-content;
    height: auto;
}

.task{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 10rem;
    height: 16.68rem;
    width: 14rem;
    border: 1px solid rgb(37, 104, 27);
    border-radius: 1.5rem;
    background: linear-gradient(
    135deg, 
    rgb(183, 206, 188) 0%,   /* Light shade @30% opacity */
    rgb(238, 240, 237) 100%   /* Dark shade @30% opacity */
  );
  box-shadow: 0 0 8px rgba(33, 33, 33, 0.417); /* soft shadow */
    
}
/* .task:hover {
  box-shadow: 0 8px 25px rgba(11, 121, 41, 0.15);
  transform: scale(1.1);
} */
