<div class="form-wrapper">
    <div class="scroll-inner">
        <div class="title">Record a new qualification</div>
        <form class="form">
            <!-- text field form group -->
            <app-text-input [label]="'Qualification Title'" [id]="'qualification-name'" [name]="'qualification-name'" [placeholder]="'Enter the qualification or certification name/title'" [type]="'text'" />
            <app-text-input [label]="'Institution Name'" [id]="'institution-name'" [name]="'institution-name'" [placeholder]="'Enter the institution name'" [type]="'text'" />
            <!-- textarea field form group -->
             <app-textarea [label]="'Key outcomes'" [id]="'qualification-description'" [name]="'qualification-description'" [placeholder]="'Enter a brief description of your training. Eg. skills acquired or course material covered etc'" [type]="''"/>
            <!-- row group of start and end date fields -->
            <app-date-range/>
            
            <!-- image uploader -->
            <div class="f-group">
                <label for="image">Upload your institution's logo</label>
                <app-image-uploader></app-image-uploader>
            </div>
            <!-- tag inputs -->
            <app-tag-input [label]="'Enter skills gained, comma separated'"></app-tag-input>
            
             <!-- password input -->
            <button type="submit" class="form-btn">Post milestone</button>

        </form>
    </div>    
</div>