.bullet-point{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--light-accent);
    margin-right: 0.5rem;
}

.pill{
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0.45rem ;
    width: fit-content;
    text-align:center;
    font-size: 1rem;
    background-color: rgba(245, 245, 245, 0.256);
    border: 1px solid rgba(245, 245, 245, 0.256);
    border-radius: 0.8rem;
}