.tab{
    /* flex-grow: 1; */
    /* flex-shrink: 1 ; */
    padding: 0.5rem 0;
    text-align: center;
    font-size: clamp(0.8rem, 0.9vw, 1.1rem);
    font-weight: 700;
    border-bottom: 1px solid var(--white);
    min-width: max-content;
}

.selected{
    border: 1px solid var(--white);    
    border-bottom: none;
    border-radius: 0.75rem 0.75rem 0 0;
}

.default{
    border: none;
    border-bottom: 1px solid var(--white);
}

