.title{
    padding: 0.2rem;
    padding-bottom: 0;
    text-shadow: 1px 1px 1px rgb(76, 169, 115);
    background-color: transparent;
    /* color: var(--new-accent-dark); */
    position: absolute;
    top: 1.15rem;
    width: max-content;
    height: max-content;
    /* box-shadow: 0 4px 10px rgba(157, 156, 156, 0.15); */
    /* border: 1px solid var(--gray-muted-light); */
    border-top-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}

.title p{
    background: linear-gradient(to right, var(--dark-accent-bright) 20%, var(--new-accent-dark) 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 1.2rem;
}