.expandable {
    display: inline-block;
    max-width: 400px;
    white-space: pre-line;
    word-wrap: break-word;
    padding: 0;
  }
  button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    /* margin-left: 5px; */
  }
  