<!-- desktop layout of card -->
<div class="tab-card" id="desktop-tabs">
    <div class="tabs-row">
      <div class="tab selected" data-tab="1">category 1</div>
      <div class="tab" data-tab="2">category 2</div>
      <div class="tab" data-tab="3">category 3</div>
      <div class="tab" data-tab="4">category 4</div>
    </div>
    <div class="details col">
      <div class="info-pill tab-content tab-1">This is what I achieved because I am the coolest kid in africa.</div>
      <div class="info-pill tab-content tab-2 hidden">-t2-This is what I achieved because I am the coolest kid in africa.</div>
      <div class="info-pill tab-content tab-3 hidden">This is what I achieved because I am the coolest kid in africa.</div>
      <div class="info-pill tab-content tab-4 hidden">This is what I achieved because I am the coolest kid in africa.</div>
    </div>
  </div>

  <!-- mobile layout of card -->
  <div class="tab-card" id="mobile-tabs">
    <div class="tabs-column col g-00">
      <div class="tab" data-tab="1" tabindex="1">category 1</div>
      <div id="tab-1-data" class="details hidden">
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> This is what I achieved because I am the coolest kid in africa.
        </div>
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> This is what I achieved because I am the coolest kid in africa.
        </div>
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> This is what I achieved because I am the coolest kid in africa.
        </div>
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> This is what I achieved because I am the coolest kid in africa.
        </div>
      </div>

      <div class="tab" data-tab="2" tabindex="2">category 2</div>
      <div id="tab-2-data" class="details hidden">
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> -t2-This is what I achieved because I am the coolest kid in africa.
        </div>
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> This is what I achieved because I am the coolest kid in africa.
        </div>
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> This is what I achieved because I am the coolest kid in africa.
        </div>
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> This is what I achieved because I am the coolest kid in africa.
        </div>
      </div>

      <div class="tab" data-tab="3" tabindex="3">category 3</div>
      <div id="tab-3-data" class="details hidden">
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> This is what I achieved because I am the coolest kid in africa.
        </div>
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> This is what I achieved because I am the coolest kid in africa.
        </div>
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> This is what I achieved because I am the coolest kid in africa.
        </div>
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> This is what I achieved because I am the coolest kid in africa.
        </div>
      </div>

      <div class="tab" data-tab="4" tabindex="4">category 4</div>
      <div id="tab-4-data" class="details hidden">
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> This is what I achieved because I am the coolest kid in africa.
        </div>
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> This is what I achieved because I am the coolest kid in africa.
        </div>
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> This is what I achieved because I am the coolest kid in africa.
        </div>
        <div class="info-pill">
          <i class="fas fa-chevron-circle-right"></i> This is what I achieved because I am the coolest kid in africa.
        </div>
      </div>
    </div>
  </div>
