/* You can add global styles to this file, and also import other style files */
:root{
    --new-accent-white: #D7E4C9;
    --new-accent-dark: #0B2C13;
    --dark-accent: #072e11;
    --dark-transparent: #072e11a0;
    --dark-more-transparent: #072e1173;
    --dark-accent-bright: #12802e;
    --dark-accent-black: #031708;
    --accent-white: #e7f3ea;
    --light-accent: #f5f5f5;
    --light-transparent: rgba(245, 245, 245, 0.596);
    --white: whitesmoke;
    --green: #1D6A1F;
    --green-transparent: #1d6a2087;  
    --mustard: #9E7533;
    --mustard-transparent: #9e753388;
    --blue: #38339e;
    --blue-transparent: #38339e80;
    --pink: #9e337c;
    --pink-transparent: #9e337c80;
    --gray: #373436;
    --gray-transparent: #2f2c2e83;
    --gray-muted: rgb(86, 86, 86);
    --gray-muted-light: rgb(212, 209, 209);
    --orange: orange;
    --orange-transparent: rgba(255, 166, 0, 0.417);
    --red: rgb(172, 18, 18);
    /* Timeline variables */
    --navbar-offset: 113px;
    --mobile-nav-offset: 99.5px;
    --mid-section-gap: 60px;
    --entry-width: 750px;
    --timeline-width: calc(2 * var(--entry-width) + var(--mid-section-gap));
    --blog-min-width:335.04px;
    --blog-max-width: calc(2 * var(--blog-min-width));
    --blog-max-height: 465.422px;
    --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    --box-shadow-dark-bg: 0 0 10px rgba(255, 255, 255, 0.2);

}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale;  /* Firefox on macOS */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    padding-top: var(--navbar-offset); 
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0;
}

img{
    object-fit: fill;
}
.btn {
    border-radius: 0;
    padding: 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.dark-btn {
    background-color: var(--dark-accent);
    color: whitesmoke;
    border: 2px solid var(--dark-accent);
}

.light-btn {
    background-color: var(--light-accent);
    color: var(--dark-accent);
    border: 2px solid var(--light-accent);
}

.section{
    width: 100%;
    position: relative;
    min-height: max-content;
    scroll-margin: var(--navbar-offset);
    /* overflow: hidden; */
}

.container{
    width: 90%;
    margin: 0 auto;
    /* padding: 4em; */
    overflow-x: hidden;
    box-sizing: border-box;
}
@media (max-width: 720px) {
  body{
    font-size: 16px;
  }
  .container{
    width: 100%;
    padding: 1rem;
  }
}

.section-title{
    font-size: clamp(2.5rem, 6vw, 4rem);
    /* padding: 32px; */
}

.subsection-title{
    font-size: clamp(2.5rem, 6vw, 4rem);
    text-align: center;
}
  
.light-bg{
    background-color: var(--light-accent);
    color: var(--dark-accent);
}

.dark-bg{
    background-color: var(--dark-accent);
    color: var(--light-accent);
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1em;
}

/* badge styles */
.badge{
    color: var(--white);
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.3em 0.8em;
    /* margin-right: 2em; */
    width: fit-content;
    border-width: 1px;
    border-style: solid;
    border-radius: 1rem;
}


.blue{
    background-color: var(--blue-transparent);
    border-color: var(--blue);
}

.green{
    background-color: var(--green-transparent);
    border-color: var(--green);
}

.mustard{
    background-color: var(--mustard-transparent);
    border-color: var(--mustard);
}

.dark{
    background-color: var(--dark-transparent);
    border-color: var(--dark-accent);
}

.pink{
    background-color: var(--pink-transparent);
    border-color: var(--pink);
}

.gray{
    background-color: var(--gray-transparent);
    border-color: var(--gray);
}
.orange{
    background-color: var(--orange-transparent);
    border-color: var(--orange);
}

.p-0{
    padding: 0.5rem;
}

.m-r-0{
    margin-right: 0.5rem ;
}



/* tl */
/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

a {
  color: inherit;
}

/* body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
} */


/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: var(--new-accent-white);
  padding: 100px 0;
}

/* .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
} */


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: white;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: var(--new-accent-dark);
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width:calc(42vw - 91px);
  padding: 15px;
  background: var(--accent-white);
}

.timeline ul li div.details::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div.details::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--accent-white) transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: calc(-42vw + 91px - 68px);
}

.timeline ul li:nth-child(even) div.details::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--accent-white);
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: var(--new-accent-white);
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: calc(-289px - 29px);
    /*250+45-6*/
  }

}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(80vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--accent-white) transparent transparent;
    transform: scaleX(-1);
  }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;
  background: rgba(255, 255, 255, 0.65);
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}

.tl-bg{
    background-color: var(--accent-white);
}


@media (max-width: 1270px) {
    body{
        padding-top: var(--mobile-nav-offset);
    }
    
    .section{
        scroll-margin: var(--mobile-nav-offset);
    }
    
}