/* You can add global styles to this file, and also import other style files */
:root{
    --dark-accent: #072e11;
    --dark-transparent: #072e11a0;
    --dark-more-transparent: #072e1173;
    --dark-accent-bright: #12802e;
    --dark-accent-black: #031708;
    --accent-white: #e7f3ea;
    --light-accent: whitesmoke;
    --light-transparent: rgba(245, 245, 245, 0.596);
    --white: whitesmoke;
    --green: #1D6A1F;
    --green-transparent: #1d6a2087;  
    --mustard: #9E7533;
    --mustard-transparent: #9e753388;
    --blue: #38339e;
    --blue-transparent: #38339e80;
    --pink: #9e337c;
    --pink-transparent: #9e337c80;
    --gray: #373436;
    --gray-transparent: #2f2c2e83;
    --gray-muted: rgb(86, 86, 86);
    --gray-muted-light: rgb(212, 209, 209);
    --orange: orange;
    --orange-transparent: rgba(255, 166, 0, 0.417);
    /* Timeline variables */
    --navbar-offset: 113px;
    --mid-section-gap: 60px;
    --entry-width: 750px;
    --timeline-width: calc(2 * var(--entry-width) + var(--mid-section-gap));
    --blog-min-width:335.04px;
    --blog-max-width: calc(2 * var(--blog-min-width));
    --blog-max-height: 465.422px;
    --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    --box-shadow-dark-bg: 0 0 10px rgba(255, 255, 255, 0.2);

}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale;  /* Firefox on macOS */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    padding-top: var(--navbar-offset); 
}

p{
    margin: 0;
}

img{
    object-fit: fill;
}
.btn {
    border-radius: 0;
    padding: 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.dark-btn {
    background-color: var(--dark-accent);
    color: whitesmoke;
    border: 2px solid var(--dark-accent);
}

.light-btn {
    background-color: var(--light-accent);
    color: var(--dark-accent);
    border: 2px solid var(--light-accent);
}

.section{
    width: 100%;
    position: relative;
    min-height: max-content;
    scroll-margin: var(--navbar-offset);
    /* overflow: hidden; */
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 4em;
    overflow-x: hidden;
}

.section-title{
    font-size: clamp(2.5rem, 6vw, 4rem);
    /* padding: 32px; */
}

.subsection-title{
    font-size: 56px;
    text-align: center;
}
  
.light-bg{
    background-color: var(--light-accent);
    color: var(--dark-accent);
}

.dark-bg{
    background-color: var(--dark-accent);
    color: var(--light-accent);
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1em;
}

/* badge styles */
.badge{
    color: var(--white);
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.3em 0.8em;
    /* margin-right: 2em; */
    width: fit-content;
    border-width: 1px;
    border-style: solid;
    border-radius: 1rem;
}

.blue{
    background-color: var(--blue-transparent);
    border-color: var(--blue);
}

.green{
    background-color: var(--green-transparent);
    border-color: var(--green);
}

.mustard{
    background-color: var(--mustard-transparent);
    border-color: var(--mustard);
}

.dark{
    background-color: var(--dark-transparent);
    border-color: var(--dark-accent);
}

.pink{
    background-color: var(--pink-transparent);
    border-color: var(--pink);
}

.gray{
    background-color: var(--gray-transparent);
    border-color: var(--gray);
}
.orange{
    background-color: var(--orange-transparent);
    border-color: var(--orange);
}

.p-0{
    padding: 0.5rem;
}

.m-r-0{
    margin-right: 0.5rem ;
}
