/* You can add global styles to this file, and also import other style files */
:root{
    --dark-accent: #5E0E08;
    --dark-transparent: #5e0e089b;
    --dark-more-transparent: #5e0e0883;
    --accent-white: #eddcda;
    --light-accent: #f8ecb6;
    --light-transparent: rgba(248, 202, 134, 0.481);
    --white: whitesmoke;
    --green: #1D6A1F;
    --green-transparent: #1d6a2087;  
    --mustard: #9E7533;
    --mustard-transparent: #9e753388;
    --blue: #38339e;
    --blue-transparent: #38339e80;
    --pink: #9e337c;
    --pink-transparent: #9e337c80;
    --gray: #373436;
    --gray-transparent: #2f2c2e83;
    --orange: orange;
    --orange-transparent: rgba(255, 166, 0, 0.417);
    /* Timeline variables */
    --navbar-offset: 113px;
    --mid-section-gap: 60px;
    --entry-width: 750px;
    --timeline-width: calc(2 * var(--entry-width) + var(--mid-section-gap));
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale;  /* Firefox on macOS */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    padding-top: var(--navbar-offset); 
}

p{
    margin: 0;
}
.btn {
    border-radius: 0;
    padding: 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.dark-btn {
    background-color: var(--dark-accent);
    color: whitesmoke;
    border: 2px solid var(--dark-accent);
}

.light-btn {
    background-color: var(--light-accent);
    color: var(--dark-accent);
    border: 2px solid var(--light-accent);
}

.section{
    width: 100%;
    position: relative;
    min-height: max-content;
    scroll-margin: var(--navbar-offset);
    /* overflow: hidden; */
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 4em;
}

.section-title{
    font-size: 80px; 
    /* padding: 32px; */
}

.subsection-title{
    font-size: 56px;
    text-align: center;
}
  
.light-bg{
    background-color: var(--light-accent);
    color: var(--dark-accent);
}

.dark-bg{
    background-color: var(--dark-accent);
    color: var(--light-accent);
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1em;
}

/* badge styles */
.badge{
    color: var(--white);
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.3em 0.8em;
    /* margin-right: 2em; */
    width: fit-content;
    border-width: 1px;
    border-style: solid;
    border-radius: 1rem;
}

.blue{
    background-color: var(--blue-transparent);
    border-color: var(--blue);
}

.green{
    background-color: var(--green-transparent);
    border-color: var(--green);
}

.mustard{
    background-color: var(--mustard-transparent);
    border-color: var(--mustard);
}

.dark{
    background-color: var(--dark-transparent);
    border-color: var(--dark-accent);
}

.pink{
    background-color: var(--pink-transparent);
    border-color: var(--pink);
}

.gray{
    background-color: var(--gray-transparent);
    border-color: var(--gray);
}
.orange{
    background-color: var(--orange-transparent);
    border-color: var(--orange);
}

