/* You can add global styles to this file, and also import other style files */
:root{
    --dark-accent: #5E0E08;
    --light-accent: #FDEFB6;
}

body {
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale;  /* Firefox on macOS */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

.btn {
    border-radius: 0;
    padding: 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.dark {
    background-color: var(--dark-accent);
    color: whitesmoke;
    border: 2px solid var(--dark-accent);
}

.section{
    width: 100%;
}

.container{
    width: 90%;
    margin: 0 auto;
}
  