/* You can add global styles to this file, and also import other style files */
:root{
    --dark-accent: #5E0E08;
    --light-accent: #FDEFB6;
    --navbar-offset: 113px ;
}

body {
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale;  /* Firefox on macOS */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    padding-top: var(--navbar-offset); 
}


.btn {
    border-radius: 0;
    padding: 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.dark {
    background-color: var(--dark-accent);
    color: whitesmoke;
    border: 2px solid var(--dark-accent);
}

.section{
    width: 100%;
    position: relative;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 4em;
    border: 2px solid gainsboro;
}

.section-title{
    font-size: 80px; 
}
  
.light-bg{
    background-color: var(--light-accent);
    color: var(--dark-accent);
}

.dark-bg{
    background-color: var(--dark-accent);
    color: var(--light-accent);
}