
:root{
    --confused-mint: linear-gradient(
        135deg, 
        hsla(164, 58%, 46%, 0.3) 0%,   /* Light shade @30% opacity */
        rgba(31, 122, 58, 0.3) 100%   /* Dark shade @30% opacity */
      );

    --pretty-mint: linear-gradient(
        135deg, 
        #F9F9F9 0%,   /* Light shade @30% opacity */
        #DFF6E6 100% );
    
    --darker-mint: linear-gradient(
        135deg, 
        rgba(165, 255, 152, 0.3) 0%,   /* Light shade @30% opacity */
        rgba(75, 168, 61, 0.3) 100%   /* Dark shade @30% opacity */
      );
      --accent:#45c6b9;
      --bg:#f7f9fc;
      --muted:#6b7280;
      --danger:#e74c3c;
      --max-height:260px;
}


/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f6f6f6; /* matches the light gray background */
    font-family: "Poppins", sans-serif;
}

p{
    margin: 0;
}

.container{
    margin: 1rem 1rem;
    /* border: 2px solid mediumseagreen; */
}

/* form field styles, manage scope */

.form-wrapper{
    border-radius: 2rem;
    overflow: hidden; /* hide overflow outside rounded edges */
    background: var(--confused-mint);
    border: 2px solid #DFF6E6;
    border-radius: 2rem;
    padding: 0.5rem;
    
}
.scroll-inner{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-height: 80vh;
    padding: 3rem;
    box-sizing: border-box; /* Include padding in width */
    
    overflow-y: auto;
    scroll-padding: 0.5rem;
}
/* Firefox */
.form-wrapper {
    scrollbar-width: thin;        /* makes scrollbar thinner */
    scrollbar-color: rgba(0,0,0,0.3) transparent; /* thumb color / track */
}
.title{
    font-size: 2rem;
    font-weight: 600;
    margin: 0 auto;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-btn{
    padding: 1rem;
    background-color: whitesmoke;
    color: var(--accent);
    border: 2px solid whitesmoke;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
    outline: none;
}

.form-btn:hover, .form-btn:focus{
    outline: none;
    border: 2px solid var(--accent);
    background-color: var(--accent);
    color: whitesmoke;
}
.f-group{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
input[type="text"],
input[type="date"],
input[type="password"],
textarea {
    font-family: 'Poppins', sans-serif;
    width: 100%;          /* Make the field full width */
    padding: 10px;        /* Add some inner spacing */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;   /* Rounded corners */
    font-size: 16px;      /* Increase text size */
    box-sizing: border-box; /* Include padding in width */
    resize: vertical;     /* Allow vertical resize only for textarea */
    outline: none;
}
input:focus, textarea:focus {
    box-shadow: inset 0 0 0 3px rgba(28, 215, 162, 0.623)
  }
.date-group{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.date-group > * {
    flex: 1;
}