.section-title, .subsection-title{
    color: var(--dark-accent);
}

.about-content{
    display: flex;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 1.5em;
    font-size: 1.5em;
}

.journey{
    display: flex;
    flex-direction: column;
}