<section class="section">
    <div class="container">
        <div class="section-title">
            About me
        </div>
        <main class="about-content">
            <app-hero></app-hero>
            <div class="description highlight">
                <p>
                    <span class="greet">Hi</span>, I’m a full-stack developer with a passion for building user-centered, 
                    cloud-powered web applications. With hands-on experience across design, 
                    frontend, backend, and cloud deployment, I take pride in turning ideas 
                    into scalable, well-crafted digital products. <br/>
                </p>
                <p>
                    I’ve worked on 8+ projects, including a cloud-hosted developer portfolio and
                     community-centered platforms, and I recently completed a cloud development
                     track focused on AWS infrastructure. Whether I’m wireframing in Figma, architecting 
                     backend services, or deploying to S3 with CloudFormation, 
                     I value clean code, collaboration, and continuous learning.
                </p>
                    
                <p>
                    Let’s build something impactful.
                </p>
            </div>
        </main>
        <app-headliners></app-headliners> 
    </div>
  </section>
  <section class="section">
    <div style="height: 100px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%; background-color:var(--dark-accent); padding:3rem 0;">
          <path d="M0.00,49.98 C150.00,150.00 349.98,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: white;"></path>
        </svg>
    </div>
    <div class="container">
        <main class="journey">
            <div class="subsection-title">
                My journey so far
            </div>
            <app-timeline></app-timeline>
        </main>
    </div>
  </section>
  