.section-title, .subsection-title{
    color: var(--dark-accent);
}

.container{
}

.about-content{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 1.5em;
    font-size: 1.5em;
    width: 45%;
    flex-grow: 1;
}

.journey{
    display: flex;
    flex-direction: column;
}