.section-title, .subsection-title{
    color: var(--dark-accent);
}

.subsection-title{
    text-align: left;
}

.section{}

.container{
}

.about-content{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 5rem;
}


.description{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 1.5em;
    font-size: 1.5em;
    width: 45%;
    flex-grow: 1;
    
}

.description p {
    
	background: linear-gradient(to right, var(--green) 20%, var(--dark-accent) 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.journey{
    display: flex;
    flex-direction: column;
}

.greet{
    font-size: 3rem;
    font-weight: 600;
}

.tl-bg{
    background-color: white;
}