:host{
    height: 100%;
    width: 100%;
    /* margin: 3rem; */
}
.grid-columns{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    height: 100%;
    width: 100%;
    z-index: 200;
}
.grid-rows{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: 1rem;
    height: 100%;
    width: 100%;
    z-index: 201;
    position: absolute;
    top: 0;
    left: 0;
    
}

.item{
    border: 2px solid rgb(195, 47, 195);
    background-color: thistle;
    color: white;
}
.item2{
    border: 2px solid #312fc3;
    background-color: #7877bb64;
    color: white;
}
.tasks{
    display: grid;
    grid-template-columns: repeat(2, 16rem);
    gap: 1rem;
    height: min-content;
}

.dashboard-grid{
    display: grid;
    grid-template-columns: repeat(3, 33rem);
    gap: 1rem;
    margin: 0 auto;
}