
<!-- <div class="grid-columns">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
  <div class="item">5</div>
  <div class="item">6</div>
  <div class="item">7</div>
  <div class="item">8</div>
</div>
<div class="grid-rows">
  <div class="item2">1</div>
  <div class="item2">2</div>
  <div class="item2">3</div>
  <div class="item2">4</div>
  <div class="item2">5</div>
  <div class="item2">6</div>
  <div class="item2">7</div>
  <div class="item2">8</div>
</div> -->
<div class="container">
  <div class="logo">Sinomtha.</div>
  <div class="welcome-wrapper">
    <div class="welcome grad-text">Welcome back to your admin panel!</div>
  </div>
  <div class="title-row">
    <div class="cent">
      <span><i class="fas fa-long-arrow-down gradient-text"></i></span>
      <div class="gradient-text">Your inbox, simplified. Never miss a message!</div>
    </div>
    <div class="cent">
      <span><i class="fas fa-long-arrow-down gradient-text"></i></span>
      <div class="gradient-text">Reflect your growth, update your profile today.</div>
    </div>
    <div class="cent">
      <span><i class="fas fa-long-arrow-down gradient-text"></i></span>
      <div class="gradient-text">Manage your content with just a few clicks!</div>
    </div>
  </div>
  
  <div class="dashboard-grid">
    <app-messages-tab [messages]="messagesData()"></app-messages-tab>
    <app-about></app-about>
    <div class="tasks">
      @for (item of taskData(); track $index) {
        <app-task-card [taskData]="item"></app-task-card>
      }
    </div>
    
  </div>
</div>
