.section{
    background-color: var(--new-accent-white);
}

.container{
    /* box-sizing: border-box; */
}

.section-title{
    color: var(--dark-accent);
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

.projects-content {
    /* margin: 0 auto;
    width: 100%;
    display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
    /* grid-template-columns: repeat(3, 520px);
    gap: 1rem; 
    align-items: stretch;
    margin-top: 4rem; */
}

/* @media (max-width: 800px){
    .projects-content{
        grid-template-columns: 360px;
    }
}

@media (min-width: 801px) and (max-width: 1780px){
    .projects-content{
        grid-template-columns: repeat(2, 400px);
    }
} */

.projects-content {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem; /* row + column gap */
    /* row-gap: 3rem; */
    align-items: stretch; /* make all items in a row match the tallest */
    margin-top: 4rem;
  }
  
  .projects-content > * {
    height: 540px;
  }
  
  /* Medium screens: 2 columns */
  /* @media (min-width: 768px) and (max-width: 1240px) {
    .projects-content {
      grid-template-columns: repeat(2, 502px);
      column-gap: 1rem;
      row-gap: 1.5rem;
    }
  }

  @media (min-width: 1241px) and (min-width: 1823px){
    .projects-content {
      grid-template-columns: repeat(2, 428px);
    }
    .projects-content > * {
      min-height: 300px;
    }
  } */
  
  /* Large screens: 3 columns */
  /* @media (min-width: 1824px) {
    .projects-content {
      grid-template-columns: repeat(3, 1fr);
    }
    .projects-content > * {
      min-height: 300px;
    }
    .flip-card-front,
    .flip-card {
      height: 300px;
    }
  } */
  