h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 2px solid blue;
    width: min-content;
    height: min-content;
    border: 2px solid gainsboro;
    padding: 1em;
    background-color: var(--white);
}

.col{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.row{
    justify-content: start;
    gap: 1rem
}

.thumbnail{
    width: 360px;
    height: fit-content;
    border: 2px solid var(--dark-accent);
    background-color: var(--dark-transparent);
}

.thumbnail img{
    width: 100%;
    height: 100%;
}

.project-details{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.links{
    justify-content: space-between;
    gap: 1rem;
}

.links > * {
    flex-grow: 1;
}

.icon{
    font-size: 4em;
    text-align: center;
    color: var(--dark-accent);

    display: block;             /* removes inline spacing behavior */
    line-height: 1;             /* removes extra vertical spacing */
    margin: 0;                  /* reset margin */
    padding: 0;  
}

.more{
    display: block;
}

.less{
    display: none;
}

.tags-wrapper small {
    font-weight: 700;
}

.tags{
    /* justify-content: flex-start; */
}

.badge{
    /* margin-right: 0.5em; */
}

.language-bar {
    display: flex;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
    /* border: 1px solid #ccc; */
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
    display: none;
}

.lang {
    height: 100%;
}

.js { background-color: #f1e05a; }
.py { background-color: #3572A5; }
.ts { background-color: var(--green-transparent) }
.html { background-color: #e34c26; }
.sqlite{ background-color: var(--blue-transparent);}