<div class="flip-card" [class.flipped]="flipped">
    <div class="flip-card-inner">
        <div class="bullet"></div>
        <div class="flip-card-front">
          <!-- front content -->
          <div class="item dark item-1 col gap-2">
            <div class="subtitle duration right shadow dark">
                {{formatDate(projectInfo.duration.startDate)}} - {{formatDate(projectInfo.duration.endDate)}}
            </div>
            <div class="bottom light col gap-1-0">
                <div class="col gap-0">
                    <div class="title institution">
                        {{projectInfo.name}}
                    </div>
                    <div class="subtitle">
                        {{ getFirstSentence() }}.
                    </div>
                </div>
                <div class="img dark-border">
                    <img [src]="projectInfo.imgSrc" [alt]="projectInfo.imgSrc.split('.png')[0]">
                </div>              
                <i class="icon fas fa-arrow-right right" (click)="toggleFlip()"></i>
                <i class="material-icons light icon">expand_more</i>
                <i class="material-icons less icon">expand_less</i>
            </div>

            <div class="collapsible less">
                <div class="links row gap-0">
                    <button class="btn light-btn">Visit the repo</button>
                    <button class="btn dark-btn">View live demo</button>
                </div>
                
                <div class="project-stats">
                    <div class="language-bar">
                        <div class="lang js" style="width: 40%;" title="JavaScript - 30%"></div>
                        <div class="lang py" style="width: 30%;" title="Python - 30%"></div>
                        <div class="lang ts" style="width: 20%;" title="TypeScript - 20%"></div>
                        <div class="lang html" style="width: 10%;" title="HTML - 10%"></div>
                        <div class="lang sqlite" style="width: 10%;" title="SQLite - 10%"></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="flip-card-back">
          <!-- back content -->
          <div class="fill item1 dark col p-1-0">
            <div class="project-description">
                <p>{{ displayText }}</p>
                <button class="btn-expand" type="button" *ngIf="projectInfo.description.length > maxLength" (click)="toggleExpand()">
                {{ expanded ? 'Show Less' : 'Show More' }}
                </button> 
            </div>           
            <div class="tags-wrapper">
                <small>tags</small>              
                <div class="tags row gap-0">
                    <!-- FIX THIS LATER! -->
                    @for (item of projectInfo.tags; track $index) {
                        <app-badge [class]="item.colour" [text]="item.tag"></app-badge>
                    }
                </div>
            </div>
            <i class="icon fas fa-arrow-left left" (click)="toggleFlip()"></i>
          </div>
           
        </div>
    </div>
  </div>
  