.card-wrapper{
    border: 2px solid blue;
    width: fit-content;
    border: 2px solid gainsboro;
    padding: 1em;
}

.thumbnail{
    width: 460px;
    height: 240px;
}

.links{
    justify-content: space-around;
}