
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
}

.particulars{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.particulars > * {
    flex-grow: 1;
}

.form-group{
    display: flex;
    flex-direction: column;
}

label{
    color: var(--white);
}

input, textarea{
    padding: 0.5rem;
    border: 2px groove var(--light-transparent);
    background-color: var(--dark-transparent);
    color: var(--new-accent-white);
    font-size: medium;
}

.stretch{
    width: 100%;
}
.mail-details{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
}
.light-btn:hover{
    background-color: var(--new-accent-white);
    color: var(--new-accent-dark);
}
.light-btn:focus{
    background-color: white;
    color: var(--new-accent-dark);
}