<div class="education">
    <div class="row">
        <div class="info">
            <h3>{{education.institution}}</h3>
            <span>{{education.duration.startDate}} - {{education.duration.endDate}}</span>
        </div>
        <div class="info">
            <h3>{{education.qualification}}</h3>
            <span>{{education.grade}}</span>
        </div>
    </div>
    <hr>
    <div class="skills-wrapper">
        <small>skills</small>
        <div class="skills row">
            @for (item of education.skills; track $index) {
                <app-badge [class]="item.colour" [text]="item.skill"></app-badge>
            }
        </div>
    </div> 
      
</div>