<div class="education">
    <div class="row">
        <div class="info">
            <h3>WeThinkCode_</h3>
            <span>Sep 2023 - Dec 2024</span>
        </div>
        <div class="info">
            <h3>Systems Development NQF 5</h3>
            <span>A-</span>
        </div>
    </div>
    <hr>
    <div class="skills-wrapper">
        <small>skills</small>
        <div class="skills row">
            <app-badge [class]="'blue'" [text]="'python'"></app-badge>  
            <app-badge [class]="'dark'" [text]="'java'"></app-badge>
            <app-badge [class]="'pink'" [text]="'test-driven development'"></app-badge>
            <app-badge [class]="'gray'" [text]="'brownfields development'"></app-badge>
            <app-badge [class]="'green'" [text]="'oop'"></app-badge>
            <app-badge [class]="'mustard'" [text]="'full-stack development'"></app-badge> 
        </div>
    </div> 
      
</div>