.card-wrapper{
    width: fit-content;
    height: auto;
    padding: 1rem;
    border: solid 1px white;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-wrapper:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(70, 5, 5, 0.15);
}

.horizontal{
    display: flex;
}

.vertical{
    display: flex;
    flex-direction: column;
}

.img-title-wrapper{
    display: grid;
    grid-template-columns: 4fr 3fr; /* 1/3 and 2/3 */
    gap: 1rem;
    font-size: 1.5rem;
    text-align: center;
}
.blog-image{
    height: 15rem;
    width: 25rem;
    background-color: var(--light-transparent);
    border: 2px solid var(--light-transparent);
}

.blog-image img{
    width: 100%;
    height: 100%;
}

.blog-title{
    margin: auto;
    color: var(--gray);
    font-weight: 600;
}

.btn{
    padding: 8px;
    max-width: fit-content;
}


/* New card styles: */

/* title card styles */
.title-card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30%;
}

.blog-title-new{
    margin: 0;
    font-size: 2rem;
    font-weight: 300;
}
.blog-meta-data{
    color: gray;
    font-size: 0.5rem;
}

.left{
    align-self: flex-start;
}
.right{
    align-self: flex-end;
}

.img-title{
    display: flex;
    gap: 1rem;
}

.horizontal{
    flex-direction: row;
}

.vertical{
    flex-direction: column;
}