<div class="card-wrapper">
    <div class="img-title-wrapper">
        <div class="blog-image">
            <img [src]="blogPost.imgSrc" [alt]="blogPost.imgSrc">
        </div>
        <div class="blog-title">
            {{blogPost.title}}
        </div>
    </div>
    <div class="blog-wrapper">
        <div class="blog-post">
            <!-- <div class="blog-title">
                {{blogPost.title}}
            </div> -->
            <hr>
            <div class="blog-intro">
                {{blogPost.introduction}} 
            </div>
        </div>
        <button class="btn light-btn">Read more</button>
        <p class="blog-info">
        {{blogPost.datePublished}} <small>{{blogPost.readTime}} min read</small>
        </p>
    </div>
</div>