<div class="card-wrapper">
    <div class="blog-image">

    </div>
    <div class="blog-wrapper">
        <div class="blog-post">
            <div class="blog-title">
                Blog post title should be this long and wrap if longer
            </div>
            <hr>
            <div class="blog-intro">
                The body should be the intro of the blog post it should also wrap
                 and is expected to be very long. For more than 5 years now, design
                  has been the central piece of my world. On this fast and mind-blowing 
                  journey, I have moved over the years from being a visual designer to a full-time 
                  UX/UI thinker and designer. 
            </div>
        </div>
        <button class="btn light-btn">Read more</button>
        <p class="blog-info">
            3 months ago <small>5 min read</small>
        </p>
    </div>
</div>