/* You can add global styles to this file, and also import other style files */
body, html{
    font-family: Arial, Helvetica, sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    margin: 0 auto;
    width: 60%;

    border: 2px solid gainsboro;
}

.form-title{
    text-align: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}