<div class="flip-card" (click)="flipped = !flipped" [class.flipped]="flipped">
    <div class="flip-card-inner">
        <div class="bullet bullet-light"></div>
        <div class="flip-card-front">
          <!-- front content -->
          <div class="item light item-1 col gap-2">
            <div class="subtitle duration right shadow light">
                {{education.duration.start}} - {{education.duration.end}}
            </div>
            <div class="bottom dark col gap-1-0">
                <div class="col gap-0">
                    <div class="title institution">
                        {{education.institution}}
                    </div>
                    <div class="subtitle">
                        {{education.qualification}}
                    </div>
                </div>
                <div class="img light-border">
                    <img [src]="education.imgSrc" [alt]="education.imgSrc.split('.png')[0]">
                </div>              
                <i class="icon fas fa-arrow-right right"></i>
            </div>
          </div>
        </div>
        <div class="flip-card-back">
          <!-- back content -->
          <div class="fill item light col gap-2 p-1-0">
            <div class="project-description">
              Messages are password-protected and self-destruct after a single view. 
              Hosted using AWS Elastic Beanstalk and S3 static hosting. 
              Focused on privacy, simplicity, and cloud deployment.
            </div>
            <div class="qualification-info">
                <div class="qualification">{{education.qualification}}</div>
                <div class="grade">{{education.grade}}</div>
            </div>
            <div class="skills-wrapper">
                <small>skills</small>
                <div class="skills row">
                    @for (item of education.skills; track $index) {
                        <app-badge [class]="item.colour" [text]="item.skill"></app-badge>
                    }
                </div>
            </div>
          </div>
           
        </div>
    </div>
  </div>
  