.education{
    background-color: var(--white);
    width: 100%;
    min-width: fit-content;
    box-shadow: 0 4px 6px rgba(0.2, 0, 0, 0.2);
}

.info span{
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

.skills-wrapper small {
    font-weight: 700;
}

.skills{
    justify-content: flex-start;
    gap: 0.3em;
}

.flip-card {
    background-color: transparent;
    width: 360px;
    height: 470px;
    perspective: 1000px; /* Add perspective for 3D effect */
    cursor: pointer;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
  }

  .front-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .back-wrapper{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1rem;
    justify-content: space-around;
    width: 360px;
    height: 470px;
    box-sizing: border-box;
  }

  .flip-card-front:hover{
    transform: scale(1.03);
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.775);  
  }
  .institution-img{
    height: 50%;
    width: auto;
  }

  img{
    height: 100%;
    width: 100%;
  }
  
  /* Add the flipped class for 180deg rotation */
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Front and back faces */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: fit-content;
    backface-visibility: hidden; /* Hide the back face when not facing the user */
    -webkit-backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Front face */
  .flip-card-front {
    background: #fff;
    height: fit-content;
  }
  
  /* Back face */
  .flip-card-back {
    background: #f8f8f8;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  
  