.section{
    background-color: var(--new-accent-dark);
    height: 100vh;
    padding-top: 4rem;
}

.container{
    /* box-sizing: border-box; */
}


.section-title{
    color: var(--accent-white);
    font-size: clamp(2.5rem, 6vw, 4rem);
}

.education-content {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* Always two equal columns */
    gap: 0.5rem; /* row + column gap */
    /* row-gap: 3rem; */
    align-items: stretch; /* make all items in a row match the tallest */
    margin-top: 4rem;
    
  }
  
  .education-content > * {
    height: 540px;
  }
  
  /* Medium screens: 2 columns */
  /* @media (min-width: 1216px) and (max-width: 1818px) {
    .education-content {
      grid-template-columns: repeat(3, 1fr);
    }
  } */
  
  /* Large screens: 3 columns */
  /* @media  (min-width: 1819px) {
    .education-content {
      grid-template-columns: repeat(3, 1fr);
    }
    .education-content > * {
      min-height: 300px;
    }
  }
  
  .carousel-cont{
    background-color: aliceblue;
} */