.section{
    background-color: var(--new-accent-dark);
    height: 100vh;
}

.container{
    /* box-sizing: border-box; */
}


.section-title{
    color: var(--accent-white);
}

.education-content{
    margin: 0 auto;
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; /* both row and column gap */
    align-items: stretch; /* ensures items stretch to equal row height */
    margin-top: 4rem;
}


.education-content > * {
    flex-grow: 1;
}



