.section{
    background-color: var(--light-accent);
}

.container{
    /* border: 2px solid greenyellow; */
    min-height: 60vh;
}


.section-title{
    color: var(--dark-accent);
}

.education-content{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}

.education-content > * {
    flex-grow: 1;
}



