<section class="section">
    <div class="container">
        <div class="section-title">
            Education
        </div>
        <main class="education-content">
            <!-- WTC -->
            <div class="education">
                <div class="row">
                    <div class="info">
                        <h3>WeThinkCode_</h3>
                        <span>Sep 2023 - Dec 2024</span>
                    </div>
                    <div class="info">
                        <h3>Systems Development NQF 5</h3>
                        <span>A-</span>
                    </div>
                </div>
                <hr>
                <div class="skills row">
                    <div class="badge blue">
                        python
                    </div>  
                    <div class="badge dark">
                        java
                    </div>
                    <div class="badge pink">
                        test-driven development
                    </div>
                    <div class="badge gray">
                        brownfields development
                    </div>
                    <div class="badge green">
                        oop
                    </div> 
                    <div class="badge mustard">
                        full-stack development
                    </div> 
                </div>
                  
            </div>
            <!-- UFS -->
            <div class="education">
                <div class="row">
                    <div class="info">
                        <h3>University of the Free State</h3>
                        <span>Jan 2020 - May 2022</span>
                    </div>
                    <div class="info">
                        <h3>BSc Physics & Astrophysics</h3>
                        <span>Incomplete</span>
                    </div>
                </div>
                <hr>
                <div class="skills row">
                    <div class="badge blue">
                        critical thinking
                    </div>  
                    <div class="badge green">
                        research skills
                    </div> 
                    <div class="badge mustard">
                        problem solving
                    </div> 
                    <div class="badge dark">
                        analytical thinking
                    </div>
                    <!-- <div class="badge pink">
                        scientific computing
                    </div> -->
                    <div class="badge gray">
                        mathematical modelling
                    </div>
                </div>
                
            </div>
            <!-- highschool -->
            <div class="education">
                <div class="row">
                    <div class="info">
                        <h3>Wynberg Girls' High School</h3>
                        <span>Jan 2012 - Dec 2016</span>
                    </div>
                    <div class="info">
                        <h3>National Senior Certificate</h3>
                        <span>A- with 5 distictions</span>
                    </div>
                </div>
                
                <hr>
                <div class="skills row">
                    <div class="badge dark">
                        academic writing
                    </div>
                    <!-- <div class="badge pink">
                        conveying complex information
                    </div> -->
                    <div class="badge blue">
                        time management
                    </div>  
                    <div class="badge green">
                        leadership skills
                    </div> 
                    <div class="badge gray">
                        level 3 first aid
                    </div>
                    <div class="badge mustard">
                        public speaking
                    </div> 
                </div>
            </div>
        </main>
    </div>
</section>