.section{
    background-color: var(--light-accent);
    height: 100vh;
}

.container{
    /* border: 2px solid greenyellow; */
    /* height: 200vh; */
}


.section-title{
    color: var(--dark-accent);
}

.education-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); /* wraps */
    gap: 1rem; /* both row and column gap */
    align-items: stretch; /* ensures items stretch to equal row height */
}


.education-content > * {
    flex-grow: 1;
}



