<!-- TODO: The cards should contain info about the actual study program not just name, icon and duration -->
<section id="education" class="section">
    <div class="container">
        <div class="section-title">
            Education
        </div>
        <!-- <main class="education-content">    
            @for (item of educationHistory; track $index) {
                <app-tile [education]="item"></app-tile>
                 
            }
        </main> -->
        <main class="education-content">
            @for (item of educationHistory; track $index) {
                <app-flip-tile [education]="item" ></app-flip-tile>
            }
        </main>
    </div>
</section>