.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color:var(--new-accent-white);
    color: var(--new-accent-dark);
    padding: 20px;
    border-radius: 8px;
    min-width: 500px;     /* never smaller than 500px */
    /* min-height: 500px;     */
    width: fit-content;   /* expand horizontally to fit content */
    height: fit-content;  /* expand vertically to fit content */
    
    max-width: 90vw;      /* optional: don’t exceed viewport width */
    max-height: 90vh;     /* optional: don’t exceed viewport height */
    overflow: auto;
    animation: fadeIn 0.3s ease;
    position: relative;
  }
  
  .closeBtn {
    color: #aaa;
    /* float: right; */
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 1rem;
  }
  
  .closeBtn:hover {
    color: black;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
  }

  @media (max-width: 800px){
    .modal-content{
      width: 80%;
      min-width: 80%;
    }
    .modal-title{
      font-size: 1.1rem;
    }
  }
  